body { 
  background-image: url("./graph/background.jpg");
  margin: 0;
}

#logging {
	background-color: rgba(111,104,104,0.7);
	width: 300px;
	margin: auto auto;
	border-radius: 25px;
	padding: 10px 0;
}

#logging button {
	background-color: lightgreen;
	border-color: green;
	color: red;
}


#logging input, #logging button {
	display: block;
	margin: 10px auto;
	padding: 5px 5px;
	width: 130px;
	border-radius: 5px;
}

#logging label {
	display: block;
	color: red;
	text-align: center;
}

#topBar div {
	display: inline-flex;
	width: 120px;
	background-color: rgba(51,153,255,0.7);
	padding: 10px;
	border-style: solid;
	border-width: 1px;
	border-color: rgba(51,153,255,0.7);
	border-radius: 10px;
	font-weight: bold;
	text-align: center;
	color: red;
}

#topBar {
	display: block;
	width: 450px;
	margin: 0 auto 10px auto;
}

a {
	text-decoration: none;
	color: red;
}

#contestants {
	background-color: rgba(255,255,255,0.9);
	width: 50%;
	margin: auto auto;
	border-radius: 25px;
	padding: 10px;
}

.singleUser{
	width: 100%;
}

.singleUser:first-child{
	margin-top: 20px;
}

.singleUser:last-child{
	margin-bottom: 20px;
}

.singleUser:nth-child(even) .cell{
	background-color: rgba(41, 243, 54, 0.2);
}

.singleUser:nth-child(odd) .cell{
	background-color: rgba(235, 243, 126, 0.4);
}

.cell{
	display: inline-block;
	border-style: solid;
	border-width: 1px;
	border-color: black;
	padding: 5px 5px 5px 10px;
	width: 40%;
}

.table{
	width: 70%;
	display: inline-block;
}

.userForm {
	width: 20%;
	display: inline-block;
}

.userForm input {
	width: 100%;
}

h1 {
	font-weight: bold;
	color: yellow;
	text-align: center;
	font-size: 25px;
}
